PORT=3002
MONGO_URL=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority
FRONTEND_URL=https://your-frontend-domain.com
DASHBOARD_URL=https://your-dashboard-domain.com
